body{line-height:1.7; color:rgb(0, 0, 0);
font-weight:400;font-size:1rem}

h1, h2{margin-top:0;margin-bottom:0.5rem;}
a{font-size:25px;}
a:hover{text-decoration:none;}

.menu{border-bottom:1px solid blue}
ul{font-family:;
margin-bottom:0; padding-inline-start:0px;}

.name{text-align:center;font-family:impact,sans-serif;font-style:italic;
font-size:80px;color:rgb(72, 150, 252)}

.text{padding:5px;border:3px;
border-style:dotted;background-color: cornsilk;}

.img-fluid{width:40%;height:auto}

.paint{background-color:gold;
font-style:italic; text-align:right}

.caption{text-transform:uppercase;font-weight:800;letter-spacing: 0em;
font-size:20px; padding:7px ; color:darkcyan; display:inline-block;}
